<launch>
    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="2" />
        <arg name="pkg" value="husky_gazebo" />
        <arg name="file" value="husky_playpen.launch" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="6" />
        <arg name="pkg" value="husky_viz" />
        <arg name="file" value="view_robot.launch" />
    </include>

    <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
        <arg name="time" value="8" />
        <arg name="pkg" value="husky_navigation" />
        <arg name="file" value="amcl_demo.launch" />
    </include>
</launch>